/* rock paper scissors!! */
#compRock {
    display: none;
}

#compPaper {
    display: none;
}

#compScissors {
    display: none;
}

#winPlayer {
    display: none;
}

#winComputer {
    display: none;
}

#drawMessage {
    display: none;
}

#winRound {
    display: none;
}

#compRound {
    display: none;
}