/* rock paper scissors!! */
body {
    font-family: "DM Sans"
}



h1 {
    display: flex;
    justify-content: center;
    
}

.prompt, .weapons, .opponent, .outcome, .fiveRounds, .pScore, .cScore, #playerScore, #compScore, .computerSelection {
    display: flex;
    justify-content: center;
}

#compRock {
    display: none;
}

#compPaper {
    display: none;
}

#compScissors {
    display: none;
}

#winPlayer {
    display: none;
}

#winComputer {
    display: none;
}

#drawMessage {
    display: none;
}

#winMessage {
    display: flex;
    justify-content: center;
}

.replaybox {
    display: flex;
    justify-content: center;
}

#replay {
    visibility: hidden;
}