/* rock paper scissors!! */
body {
    font-family: "DM Sans"
}

h1 {
    display: flex;
    justify-content: center;
    
}

.prompt, .opponent, .outcome, .fiveRounds, .pScore, .cScore, #playerScore, #compScore, #computerSelection, #outcome {
    display: flex;
    justify-content: center;
}

.weapons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#rockBTN, #paperBTN, #scissorsBTN {
    font-size: 15px;
    border: 2px solid gray;
    border-radius: 6px;
} 

#winMessage {
    display: flex;
    justify-content: center;
}

.replaybox {
    display: flex;
    justify-content: center;
}

#replay {
    visibility: hidden;
}

.weapons, .opponent {
    padding-top: 15px;
}